<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Journey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Noto+Serif+JP:wght@200..900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="css/7-1-15.css">
  </head>

  <body>
    <header>
      <div class="navtext-container">
        <div class="navtext"><%= link_to "Coffee Journey", beans_toppage_path %></div>
          <input type="checkbox" class="menu-btn" id="menu-btn">
          <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
          <ul class="menu">
            <li><%= link_to "商品紹介", beans_path %></li>
            <li><%= link_to "おすすめコーヒー診断",perfumes_question1_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "マイページ", user_path(current_user.id) %><li>
            <% else %>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
          </ul>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Copyright © Risako All Rights Reserved.</p>
    </footer>
 </body>

</html>
